<!-- FD:83:homeproxy/home/startup.vm:START --><!-- FD:83:homeproxy/home/startup.vm:634:startup.schema:startup-头部页面描述:START --><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="renderer" content="webkit" />
  
    <title>立坤！</title>
    <meta name="keywords" content="专业运营二手设备">
    <meta name="description" content="立坤，全球专业供应链提供商。">
 	<link rel="icon" href="{{ url_for('static', filename='img/logo.png')}}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/copy.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css')}}" />
	
</head>
<body>
<div class="main">
    <div class="header">
        <div class="nav">
            <div class="logo"></div>
            <div class="entry">
                
                <span class="state">我是会员</span>
				
                	<a href="#" target="_self" seed="">快速登录</a>
				
                
            </div>
        </div>
    </div>
    <div class="container">
        <div class="content">
            <div class="wrap">
                <div class="slogan"></div>
                <div class="mid">
                    <div class="main-entry">
                        <a href="javascript:;" class="developer-login"><span class="title"><i
                                class="developer"></i>许愿单</span><s></s></a>
                        <a href="product.html" class="seller-login"><span class="title"><i
                                class="seller"></i>产品列表</span><s></s></a>
                        <a href="javascript:;" class="personal-login"><span class="title"><i
                                class="personal"></i>关于我们</span><s></s></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="back">
 			
            <div class="items">
                <div class="item item1"
                     style="background-image:url({{url_for('static',filename='img/bg1.jpg')}})"></div>
                <div class="item item2"
                     style="background-image:url({{url_for('static',filename='img/bg1.jpg')}})"></div>
                <div class="item item3"
                     style="background-image:url({{url_for('static',filename='img/bg1.jpg')}})"></div>
            </div>
          	
        </div>
    </div>
</div>
    <div class="wrap-news">
               <dl class="list-news">
            <dt><h3>活动专区</h3> <a href="#" target="_blank">更多<span></span></a></dt>
            <dd>
                <div class="news">
                    {%for fnew in facts%}
                       <a href="/pro/detail/?id={{fnew.id}}" target="_blank">
                        <li>
                        <img src="{{fnew.major_pic}}" /><div class="t">{{fnew.title}}</div></a></div>
                             
                        </li>
                    {%endfor%}
                
                <ul>
                    {%for new in acts%}
                        <li>
                            <a href="/pro/detail/?id={{new.id}}" target="_blank"> {{new.title}}</a>
                             
                        </li>
                    {%endfor%}

                </ul>
            </dd>
        </dl>

        <dl class="list-news">
            <dt><h3>新闻动态</h3> <a href="#" target="_blank">更多<span></span></a></dt>
            <dd>
                <div class="news">
                    {%for fnew in fnews%}
                      <a href="/pro/detail/?id={{fnew.id}}" target="_blank">
                        <li>
                        <img src="{{fnew.major_pic}}" /><div class="t">{{fnew.title}}</div></a></div>
                             
                        </li>
                    {%endfor%}
                
                <ul>
                    {%for new in news%}
                        <li>
                            <a href="/pro/detail/?id={{new.id}}" target="_blank"> {{new.title}}</a>
                             
                        </li>
                    {%endfor%}

                </ul>
            </dd>
            </dd>
        </dl>
        
        <dl class="list-news mr0">
            <dt><h3>成功案例</h3> <a href="#" target="_blank" target="_blank">更多<span></span></a></dt>
                <dd>
                <div class="news">
                    {%for fnew in fexams%}
                       <a href="/pro/detail/?id={{fnew.id}}" target="_blank">
                        <li>
                        <img src="{{fnew.major_pic}}" /><div class="t">{{fnew.title}}</div></a></div>
                             
                        </li>
                    {%endfor%}
                
                <ul>
                    {%for new in exams%}
                        <li>
                            <a href="/pro/detail/?id={{new.id}}" target="_blank"> {{new.title}}</a>
                             
                        </li>
                    {%endfor%}

                </ul>
            </dd>
            </dd>
        </dl>
    </div>

<div class="footer">
    
    <div class="nav-links">
        <ul>
            <li><a href="http://www.antgroup.com" target="_blank" seed="">大头蚁科技有限公司</a></li>
            <li>|</li>
            <li><a href="https://www.alipay.com" target="_blank" seed="">立坤</a></li>
            <li>|</li>
            <li><a href="https://yebprod.alipay.com/yeb/index.htm" target="_blank" seed="">余额宝</a></li>
            <li>|</li>
            <li><a href="https://zhaocaibao.alipay.com/" target="_blank" seed="">招财宝</a></li>
            <li>|</li>
            <li><a href="https://b.zmxy.com.cn/index.htm" target="_blank" seed="">芝麻信用</a></li>
            <li>|</li>
            <li><a href="https://www.aliloan.com/" target="_blank" seed="">蚂蚁微贷</a></li>
            <li>|</li>
            <li><a href="https://www.mybank.cn/index.htm" target="_blank" seed="">网商银行</a></li>
            <li>|</li>
            <li><a href="https://open.alipay.com/platform/home.htm?from=zhuzhanfooter20160818 " target="_blank" seed="">开放平台</a></li>
            <li>|</li>
            <li><a href="https://job.alibaba.com/index.php" target="_blank" seed="">诚征英才</a></li>
            <li>|</li>
            <li><a href="https://ab.alipay.com/i/lianxi.htm" target="_blank" seed="">联系我们</a></li>
            <li>|</li>
            <li><a href="https://global.alipay.com/ospay/home.htm" target="_blank" seed="">International Business</a></li>
            <li><span class="ownership">大头蚁版权所有 2016-2019</span></li>
        </ul>
    </div>
    <div class="nav-icons">
        <a href="https://fun.alipay.com/certificate/zfxkz.htm" class="pic1" target="_blank"></a>
        <a href="https://sealinfo.verisign.com/splash?form_file=fdf/splash.fdf&dn=WWW.ALIPAY.COM&zh_cn" class="pic2" target="_blank"></a>
        <a href="javascript:;" class="pic3" target="_blank"></a>
        <a href="http://zjnet.zjaic.gov.cn/sign/addSignOnline.action" class="pic4" target="_blank"></a>
        <a href="https://fun.alipay.com/certificate/index.htm" class="pic7" target="_blank"></a>
    </div>
    
    <div id="ServerNum"><p>homeproxy-30-1</p></div>
</div>
<script src="https://t.alipayobjects.com/images/rmsweb/T19ctgXcRlXXXXXXXX.js"></script>
<script>

    var slideEle = slider($('.items'));

    function slider(elem) {
        var items = elem.children(),
                max = items.length - 1,
                animating = false,
                currentElem,
                nextElem,
                pos = 0;

        sync();

        return {
            next: function () {
                move(1);
            },
            prev: function () {
                move(-1);
            },
            itemsNum: items && items.length
        };

        function move(dir) {
            if (animating) {
                return;
            }
            if (dir > 0 && pos == max || dir < 0 && pos == 0) {
                if (dir > 0) {
                    nextElem = elem.children('div').first().remove();
                    nextElem.hide();
                    elem.append(nextElem);
                } else {
                    nextElem = elem.children('div').last().remove();
                    nextElem.hide();
                    elem.prepend(nextElem);
                }
                pos -= dir;
                sync();
            }
            animating = true;
            items = elem.children();
            currentElem = items[pos + dir];
            $(currentElem).fadeIn(400, function () {
                pos += dir;
                animating = false;
            });
        }

        function sync() {
            items = elem.children();
            for (var i = 0; i < items.length; ++i) {
                items[i].style.display = i == pos ? 'block' : '';
            }
        }

    }

    if (slideEle.itemsNum && slideEle.itemsNum > 1) {
        setInterval(function () {
            slideEle.next();
        }, 4000)
    }


</script>
<script>
    function setCookie(cname, cvalue, exdays) {
        var d = new Date();
        d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
        var expires = "expires=" + d.toUTCString();
        document.cookie = cname + "=" + cvalue + "; " + expires;
    }

	
    //cookie记录个人登录标记为1,商家登录标记为2
    $(".personal-login").click(function () {
        setCookie("_n_h_n_option", "1", 365);
        location.href = "https://www.alipay.com";
    });

    $(".seller-login").click(function () {
        location.href = "https://e.alipay.com/index.htm";
    });
    $(".developer-login").click(function () {
        location.href = "https://open.alipay.com/platform/home.htm?from=zhuzhan20160818";
    });
	

</script>
</body>
</html><!-- FD:83:homeproxy/home/startup.vm:634:startup.schema:startup-头部页面描述:END --><!-- FD:83:homeproxy/home/startup.vm:END -->

